<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
             Option:      APIKey
             Default:     ""
    -->
    <add key="APIKey"         value="" />
    <!--
           Option:      Locale
           Default:     "en_US"
    -->
    <add key="Locale"         value="en_US" />
    <!--
             Option:      APIOutput
             Default:     "false"
    -->
    <add key="QuestAPI"       value="false" />
    <add key="SpellAPI"       value="false" />
  </appSettings>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>